.\#*
\#*\#
*~
*.pyc

*.rc.devel
tests/config/hh-sites.xml

*.log
var/
settings_override.py
init/migrated*.tgz
build/*
build-stamp
configure-stamp
/debian/*/
/debian/files
/tests/tmp
*.dsc
*.tar.gz
*.deb
*.changes
*.build
*.upload
*.debhelper.log
*.postinst.debhelper
*.preinst.debhelper
*.postrm.debhelper
*.prerm.debhelper
*.preinst.debhelper
*.substvars
*.log
development.local.ini
debian/hh-cms.preinst.debhelper

!shared/*.deb

.project
.pydevproject
.settings/
media/*
polls_migration.py

parser/settings_override.py
.ropeproject
*.swp
.dir-locals.el
*.coverage

run.sh

.idea/
.idea/*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

Vagrantfile
.vagrant/
